{% extends "navbar.html" %}
{%block titulo%}
Contatos
{%endblock%}
{% block conteudo%}
<section class="container">
    <h1 class="titulo-contatos">Lista contatos</h1>
    <section class="tabela-contatos">
        <table>
            <thead class="tabela-cabecalho">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Assunto</th>
                    <th>Mensagem</th>
                    <th>Situação</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for contato in contatos %}
                <tr>
                    <td>{{ contato.1 }}</td>
                    <td>{{ contato.2 }}</td>
                    <td>{{ contato.3 }}</td>
                    <td>{{ contato.4 }}</td>
                    <td>{{ contato.5 }}</td>
                    <td>
                        {% if contato.10 == 0 %}
                        <a href="/atender_contato/{{ contato.0 }}" class="botao">Atender</a>
                        {% else %}
                        <a href="/atender_contato/{{ contato.0 }}" class="botao">Atender</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</section>
{% endblock %}