<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">Página inicial</a>
            </li>
            <li>
                <a href="/contato"> Fale conosco</a>
            </li>
            {% if request.session.usuario_id %}
            <li>
                <a href="/contatos">Lista de solicitações</a>
            </li>
            <li>
                <a href="/meus_contatos">Meus atendimentos</a>
            </li>
            {% if request.session.usuario_nome == 'ADMIN' %}
            <li>
                <a href="/lista_usuarios">Lista de usuarios</a>
            </li>
            {%endif%}
            <li>
                <a href="/logout">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="/login">Login</a>
            </li>
            {%endif%}
        </ul>
    </nav>
    {% block conteudo %}
    {% endblock %}

</body>

</html>