<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">Página inicial</a>
            </li>
            <li>
                <a href="/contato">Contato</a>
            </li>
            <li>
                <a href="/contatos">Lista de contatos</a>
            </li>
        </ul>
    </nav>
    {% block conteudo %}
    {% endblock %}

</body>

</html>