<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form class="flex-container flex-container-direito" method="post">
        <h2>Entre em contato</h2>
        <input
          type="text"
          class="inputs"
          placeholder="Your Name"
          required
        />
        <input
          type="email"
          class="inputs"
          placeholder="Your Email"
          required
        />
        <textarea
          name="message"
          class="inputs"
          id="mensagem"
          rows="5"
          placeholder="Message"
          required
        ></textarea>
        <button type="submit">Submit</button>
      </form>
</body>
</html>