<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato</title>
  <link rel="stylesheet" href="../static/reset.css">
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <form class="flex-container" method="POST">
    <h2>Entre em contato</h2>
    <input type="text" class="inputs" placeholder="Nome" required />
    <input type="email" class="inputs" placeholder="Email" required />
    <textarea name="message" class="inputs" id="mensagem" rows="5" placeholder="Menssagem" required></textarea>
    <button type="submit">Submit</button>
  </form>
</body>

</html>