<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato</title>
  <link rel="stylesheet" href="../static/reset.css">
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <form class="flex-container" method="POST">
    <h2>Entre em contato</h2>
    {{ form.csrf_token() }}
    <input type="text" class="inputs" placeholder="Nome" />
    {{ form.nome }}
    {% if form.nome.errors %}
        <span style="color: red;">{{ form.nome.errors[0] }}</span>
    {% endif %}
    <input type="email" class="inputs" placeholder="Email" />
    {{ form.email }}
    <textarea name="message" class="inputs" id="mensagem" rows="5" placeholder="Menssagem" ></textarea>
    {{ form.mensagem}}
    <button type="submit">Submit</button>
  </form>
</body>

</html>