<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1 class="titulo-contatos">Contatos</h1>
    <section class ="tabela-contatos">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Mensagem</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for contato in contatos %}
                <tr>
                    <td>{{ contato[1] }}</td>
                    <td>{{ contato[2] }}</td>
                    <td>{{ contato[3] }}</td>
                    <td>
                        {% if contato[10] == 0 %}
                        <button>Lido</button>
                        {% else %}
                        <button>Não lido</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>

</html>