{% extends "navbar.html" %}
{% block titulo %}
Lista contatos
{% endblock %}
{% block conteudo %}
<section class="container">
    <h1 class="titulo-contatos">Contatos</h1>
    <section class ="tabela-contatos">
        <table>
            <thead class="tabela-cabecalho">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Mensagem</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for contato in contatos %}
                <tr>
                    <td>{{ contato[1] }}</td>
                    <td>{{ contato[2] }}</td>
                    <td>{{ contato[3] }}</td>
                    <td>
                        {% if contato[10] == 0 %}
                        <button class="botao">Lido</button>
                        {% else %}
                        <button class="botao">Não lido</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</section>
{% endblock %}