{% extends 'navbar.html' %}
{% block titulo %}
Editar Usuario
{% endblock %}
{% block conteudo %}

<body>
    <section>
        <div class="flex-container">
            <h1>Editando usuário</h1>

            <form action="/editarusuario/{{id}}" method="POST">
                <div class="login">
                    <input class="inputs" type="text" name="nome" placeholder="Nome" value="{{dados_usuario.nome}}">
                    <input class="inputs" type="email" name="email" placeholder="Email" value="{{dados_usuario.email}}">
                    <input class="inputs" type="password" name="senha" placeholder="Senha">
                    <button type="submit">Atualizar</button>
                </div>
                <script>
                    //Limpa os campos do formulário ao entrar na tela
                    $(document).ready(function () {
                        $('input[name="nome"]').val('');
                        $('input[name="email"]').val('');
                        $('input[name="senha"]').val('');
                    });
                </script>
            </form>
        </div>
    </section>
</body>

{% endblock %}