{% extends 'navbar.html' %}
{% block titulo %}
Meus pedidos
{% endblock %}
{% block conteudo %}
<section class="container">
    <h1 class="titulo-contatos">Meus pedidos</h1>
    <section class="tabela-contatos">
        <table>
            <thead class="tabela-cabecalho">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Pedido</th>
                    <th>Situação</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido[1] }}</td>
                    <td>{{ pedido[2] }}</td>
                    <td>{{ pedido[3] }}</td>
                    <td>{{ pedido[4] }}</td>
                    <td>
                        {% if pedido[4] == 'Finalizado' %}
                        <a href="" class="botao">Finalizado</a>
                        {% elif pedido[4] == 'Em atendimento' %}
                        <a href="/entregar_pedido/{{ pedido[0] }}" class="botao">Pedido pronto</a>
                        {% elif pedido[4] == 'A caminho do cliente' %}
                        <a href="/finalizar_pedido/{{ pedido[0] }}" class="botao">Finalizar pedido</a>                        
                        {% endif %}
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="botoes-relatorios">
        <div class="botao-container">
            <a href="/relatorios_excel" class="botao">Gerar relatório Excel</a>
        </div>
        <div class="botao-container">
            <a href="/relatorios_pdf" class="botao">Gerar relatório PDF</a>
        </div>
    </section>
</section>
{% endblock %}