{% extends 'navbar.html' %}
{% block titulo %}
Editar Usuario
{% endblock %}
{% block conteudo %}
<section>
    <div class="flex-container">
        <h2>Cadastrar Usuário</h2>

        <form method="POST">
            {{ form.csrf_token() }}
            {{form.nome}}
            {{form.email}}
            {{form.senha}}

            <button type="submit">Cadastrar</button>

            <script>
                $(document).ready(function () {
                    $('input[name="nome"]').val('');
                    $('input[name="email"]').val('');
                    $('input[name="senha"]').val('');
                });
            </script>

        </form>
    </div>
</section>
{% endblock %}