{% extends "navbar.html" %}
{% block titulo %}
Contato
{% endblock %}
{% block conteudo %}
<section>
  <div class="flex-container">
    <form method="POST">
      <h2>Faça seu pedido</h2>
      {{ form.csrf_token() }}
      {{ form.nome }}
      {% if form.nome.errors %}
      <span style="color: red;">{{ form.nome.errors[0] }}</span>
      {% endif %}
      {{ form.email }}
      {% if form.email.errors %}
      <span style="color: red;">{{ form.email.errors[0] }}</span>
      {% endif %}
      {{ form.pedido}}
      {% if form.pedido.errors %}
      <span style="color: red;">{{ form.pedido.errors[0] }}</span>
      {% endif %}
      <button type="submit">Enviar</button>
    </form>
  </div>
</section>
{% endblock %}