{% extends "navbar.html" %}
{% block titulo %}
Lista pedidos
{% endblock %}
{% block conteudo %}
<section class="container">
    <h1 class="titulo-contatos">Lista pedidos</h1>
    <section class ="tabela-contatos">
        <table>
            <thead class="tabela-cabecalho">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Mensagem</th>
                    <th>Situação</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido[1] }}</td>
                    <td>{{ pedido[2] }}</td>
                    <td>{{ pedido[3] }}</td>
                    <td>Não atendido</td>
                    <td>
                        {% if pedido[10] == 0 %}
                        <a href="/atender_pedido/{{ pedido[0] }}" class="botao">Atender</a>
                        {% else %}
                        <a href="/atender_pedido/{{ pedido[0] }}" class="botao">Atender</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</section>
{% endblock %}