<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
</head>
<body>
    <h2>Sobre nós:</h2>

    <h4>Senac pizzaria</h4>

    <p>Inicialmente um projeto de aula de Python, agora começando a florecer como um projeto de PDV de pizzaria</p>

    <h4>Matheus</h4>

    <p>Homem Cis, 28 anos, Atualmente estudante de desenvolvimento web Python e aspirante a QA tester</p>
</body>
</html>