{% extends "navbar.html" %}
{% block titulo %}
Lista usuarios
{% endblock %}
{% block conteudo %}
<section class="container">
    <h1 class="titulo-contatos">Usuários</h1>
    <section class ="tabela-contatos">
        <table>
            <thead class="tabela-cabecalho">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario[1] }}</td>
                    <td>{{ usuario[2] }}</td>
                    <td>
                        <a href="/editarusuario/{{ usuario[0]}}" class="editar">Editar</a>
                        <a href="/excluirusuario/{{ usuario[0]}}" class="excluir">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <a href="{{url_for('novousuario')}}">Cadastrar usuário</a>
</section>

{% endblock %}