{% extends "navbar.html" %}
{%block titulo%}
Home page
{%endblock%}
{% block conteudo%}

<body>
    <!-- TODO: arrumar e deixar melhor essa tela com um botão que dê para contato.html -->
    <section class="container">
        <h1>Bem vindo ao Senac Tech!</h1>
        <div class="container-texto">
            <p>Para mais informações ou dúvidas sobre nossos cursos por favor entre em contato pelo <a
                    href="/contato">Fale conosco</a></p>
        </div>
    </section>
</body>

</html>

{%endblock%}