<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Precisa de cima para rodar imagens e gifs -->
    <link rel="stylesheet" href="{{ STATIC_URL }}static/reset.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}static/styles.css">
    {%load static%} 
</head>
<body>
    <h1>Funcionou!!</h1>
    <p>Tela do index com django</p>
    <!-- <img src="{% static 'nome-imagem.jpeg' %}" alt=""> Exemplo de importação de imagem com django -->
</body>
</html>